@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/import-once';
@import 'carbon-components/scss/globals/scss/css--helpers';
@import 'carbon-components/scss/globals/scss/vars';

$combo-box-width: rem(300px);
$combo-box-height: rem(40px);

@include exports('dropdown-v2') {
  // DropdownMenu
  .bx--dropdown__menu {
    @include box-shadow();

    position: absolute;
    left: 0;
    right: 0;
    background-color: $ui-01;
    max-height: rem(120px);
    overflow-y: auto;
  }

  // DropdownMenuItem
  .bx--dropdown__menu-item {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    height: rem(40px);
    padding: 0 1rem;
    cursor: pointer;
    user-select: none;
  }

  .bx--dropdown__menu-item:hover,
  .bx--dropdown__menu-item--highlighted {
    background-color: $brand-01;
    color: white;
  }

  // DropdownMenuIcon --------------------------
  .bx--dropdown__menu-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 0 1rem;
    transition: transform 200ms $bx--standard-easing;
    cursor: pointer;
  }

  .bx--dropdown__menu-icon > svg {
    fill: $brand-01;
    height: 100%;
  }

  .bx--dropdown__menu-icon--open {
    transform: rotate(180deg);
  }

  // DropdownSelection
  .bx--dropdown__selection {
    display: inline-block;
    position: absolute;
    top: 0;
    right: rem(26px);
    bottom: 0;
    height: rem(40px);
    padding: 0 1rem;
    cursor: pointer;
    // TODO: do we have a scale for this?
    z-index: 100;
  }

  .bx--dropdown__selection > svg {
    fill: $ui-05;
    height: 100%;
  }

  .bx--dropdown__selection:focus {
    outline: 1px solid $brand-01;
  }

  // DropdownField
  .bx--dropdown__field {
    position: relative;
  }

  .bx--dropdown__field:focus,
  .bx--dropdown__field[aria-expanded='true'] {
    outline: 1px solid $brand-01;
  }

  .bx--dropdown__field[disabled] {
    outline: none;
  }

  .bx--dropdown__field[aria-expanded='true'] ~ .bx--dropdown__menu {
    box-shadow: 0 1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01,
      0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
}
