@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/import-once';
@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/spacing';
@import 'carbon-components/scss/globals/scss/css--reset';

// Color Theme Variables
$brand-01: $color__blue-51;
$brand-02: $color__blue-40;
$brand-03: $color__teal-20;
$inverse-01: $color__white;
$inverse-02: #272d33;
$ui-01: $color__white;
$ui-02: #f4f7fb;
$ui-03: $color__gray-1;
$ui-04: #8897a2;
$ui-05: $color__navy-gray-6;
$text-01: $color__blue-90;
$text-02: $color__navy-gray-6;
$text-03: #cdd1d4;
$field-01: #f4f7fb;
$field-02: $color__white;
$support-01: #e0182d;
$support-02: $color__green-40;
$support-03: $color__yellow-30;
$support-04: $color__blue-30;
$nav-01: $color__navy-gray-1;
$nav-02: $color__blue-90;
$nav-03: $color__purple-30;
$nav-04: $color__purple-60;
$nav-05: $color__teal-40;
$nav-06: $color__teal-50;
$nav-07: $color__blue-30;
$nav-08: $color__blue-51;

$hover-primary: darken($brand-01, 10%);
$hover-primary-text: darken($brand-01, 15%);
$hover-danger: darken($support-01, 10%);
$hover-secondary: $brand-01;
$hover-row: rgba($brand-02, 0.1);

// Code Snippet
$snippet-background-color: $ui-01;
$snippet-border-color: $ui-03;

@mixin bx--snippet {
  @include typescale('omega');
  line-height: 1.45;
  background: $snippet-background-color;
  border: 1px solid $snippet-border-color;
  font-family: $font-family-mono;
  position: relative;
  max-width: rem(600px);
  width: 100%;
}

.#{$prefix}--snippet code {
  font-family: $font-family-mono;
}

// Inline Code Snippet
.#{$prefix}--snippet--inline {
  @include reset;
  position: relative;
  display: inline;
  padding: 0;
  background: transparent;
  font-size: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $field-01;
  font-size: 85%;
  cursor: pointer;

  &:hover {
    background-color: darken($field-01, 10%);
  }

  &:focus {
    @include focus-outline;
    outline: none;
    border: 1px solid $brand-01;
  }
}

.#{$prefix}--snippet--inline code {
  padding: rem(1px) $spacing-xs;
}

.#{$prefix}--snippet--inline.#{$prefix}--snippet--light {
  background-color: $field-02;

  &:hover {
    background-color: rgba($brand-02, 0.1);
  }
}

// Single Line Snippet
.#{$prefix}--snippet--single {
  @include bx--snippet;
  height: rem(56px);
  padding: 0 $spacing-2xl 0 $spacing-md;
}

.#{$prefix}--snippet--single .#{$prefix}--snippet-container {
  display: flex;
  align-items: center;
  height: 130%;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  padding-bottom: $spacing-md;
}

// Multi Line Snippet
.#{$prefix}--snippet--multi {
  @include bx--snippet;
  padding: $spacing-md $spacing-3xl $spacing-md $spacing-lg;
}

.#{$prefix}--snippet--multi .#{$prefix}--snippet-container {
  overflow: hidden;
  position: relative;
  max-height: rem(254px);
  min-height: rem(56px);
  transition: all $transition--base $carbon--standard-easing;
}

.#{$prefix}--snippet--expand.#{$prefix}--snippet--multi
  .#{$prefix}--snippet-container {
  max-height: rem(1500px);
}

.#{$prefix}--snippet--multi .#{$prefix}--snippet-container pre {
  white-space: pre-wrap;
}

.#{$prefix}--snippet__icon {
  fill: $brand-01;
  height: rem(24px);
  width: rem(18px);
  transition: all $transition--base $carbon--standard-easing;

  &:hover {
    fill: $hover-primary;
  }
}

.#{$prefix}--snippet-button {
  @include reset;
  cursor: pointer;
  position: absolute;
  top: 0.675rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  height: rem(32px);
  width: rem(32px);

  &:focus {
    @include focus-outline('border');
  }
}

.#{$prefix}--snippet .#{$prefix}--btn--copy__feedback {
  @include font-family;
  z-index: z('overlay');
  font-weight: 400;
  left: inherit;
  top: 0.75rem;
  right: 1.25rem;
}

.#{$prefix}--snippet-button .#{$prefix}--btn--copy__feedback {
  top: rem(25px);
  left: 1rem;
  right: auto;
}

.#{$prefix}--snippet--inline .#{$prefix}--btn--copy__feedback {
  right: auto;
  left: 50%;
}

// Show more / less button
.#{$prefix}--snippet-btn--expand {
  position: absolute;
  right: 0;
  bottom: 0;
}

.#{$prefix}--snippet-btn--expand--hide.#{$prefix}--snippet-btn--expand {
  display: none;
}

.#{$prefix}--snippet-btn--expand .#{$prefix}--icon-chevron--down {
  fill: $brand-01;
  margin-left: $spacing-2xs;
  transform: rotate(0deg);
  transition: $transition--base;
}

.#{$prefix}--snippet-btn--expand:hover .#{$prefix}--icon-chevron--down,
.#{$prefix}--snippet-btn--expand:focus .#{$prefix}--icon-chevron--down {
  fill: $inverse-01;
}

.#{$prefix}--snippet--expand
  .#{$prefix}--snippet-btn--expand
  .#{$prefix}--icon-chevron--down {
  transform: rotate(180deg);
}

/* 
    Deprecated class names will be removed in v10.x
  */

.#{$prefix}--snippet--terminal {
  @include bx--snippet;
  height: rem(56px);
  padding: 0 $spacing-2xl 0 $spacing-md;
}

.#{$prefix}--snippet--terminal .#{$prefix}--snippet-container {
  display: flex;
  align-items: center;
  height: 130%;
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
  padding-bottom: $spacing-md;
}

.#{$prefix}--snippet--code {
  @include bx--snippet;
  padding: $spacing-md $spacing-3xl $spacing-md $spacing-lg;
}

.#{$prefix}--snippet--code .#{$prefix}--snippet-container {
  overflow: hidden;
  position: relative;
  max-height: rem(254px);
  min-height: rem(56px);
  transition: all $transition--base $carbon--standard-easing;
}

.#{$prefix}--snippet--expand.#{$prefix}--snippet--code
  .#{$prefix}--snippet-container {
  max-height: rem(1500px);
}

.#{$prefix}--snippet--code .#{$prefix}--snippet-container pre {
  white-space: pre-wrap;
}

.#{$prefix}--snippet--inline .#{$prefix}--btn--copy__feedback {
  right: auto;
}
